.home-header
  .con
    h1(data='') &#x4F18;&#x533B;
    .search
      svg.cp-icon(aria-hidden='true')
        use(href='#icon-home-search')
      |  &#x641C;&#x4E00;&#x641C;&#xFF1A;&#x75BE;&#x75C5;/&#x75C7;&#x72B6;/&#x533B;&#x751F;/&#x5065;&#x5EB7;&#x77E5;&#x8BC6;
